LOGIN_URL=https://extracard.turkiyeshell.com
USERNAME=
PASSWORD=
HEADLESS=false
ROWS_PER_PAGE=100
DELAY_MIN_MS=500
DELAY_MAX_MS=1500
DELAY_BETWEEN_PAGES_MS=1000
MAX_RETRY=3
SESSION_CHECK_EVERY=50
SAVE_EVERY=10
START_PAGE=1
